/* AddProduct.css */
.add-product-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .tab-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tab-buttons button {
    margin: 0 10px;
    padding: 10px -10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;

    transition: background-color 0.3s ease;
  }
  
  .tab-buttons button.active {
    background-color: #0056b3;
  }
  
  .tab-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .category label {
    margin-right: 15px; /* Adjust the margin here */
    
}
.category select {
    margin-bottom: 10px; /* Adjust the margin here */
}
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  Link {
    color: #007bff;
    text-decoration: none;
  }
  
  Link:hover {
    text-decoration: underline;
  }
  
/* Styles for screens smaller than 600px (typical mobile screens) */
@media screen and (max-width: 600px) {
  .add-product-container {
    width: 50%; /* Set the container width to fill the entire viewport */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .tab-buttons {
    flex-direction: row; /* Stack the buttons vertically */
    margin-bottom: 5px; /* Reduce margin between buttons */
  }

  .tab-buttons button {
    width: 20%; /* Make buttons fill the width */
    margin-bottom: 5px; /* Add spacing between buttons */

  }

  .tab-content {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  /* Adjust other styles as needed for better mobile layout */
  label {
    margin-right: 0; /* Remove margin-right for labels */
  }

  .category select {
    margin-bottom: 8px; /* Reduce margin-bottom for select elements */
  }

  input[type="text"],
  textarea,
  select {
    font-size: 14px; /* Reduce font size for better readability on mobile */
  }

  button {
    font-size: 10px; /* Reduce font size for buttons */
  }
}
